select {
	background: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/arrow_drop_down/v1/24px.svg?download=true") right no-repeat;
	background-size: 20px;
	padding: 5px;
	padding-right: 25px;
	border-bottom: solid 2px #0002;
	transition: all 300ms 0s ease-in;
	margin: 5px;
}
select:focus {
	border-bottom-color: #0004;
}
button {
	border-radius: 3px;
	transition: all 300ms 0s ease-in;
}

button:hover {
	background: #0001;
	transition: all 300ms 0s ease-in;
}

button:active {
	background: #0002;
	transition: all 100ms 0s ease-out;
}

input {
	border-radius: 4px;
	box-shadow: 0 0 3px #0003;
	transition: all 300ms 0s ease-out;
}
input:focus {
	box-shadow: 0.5px 0.5px 8px #0003;
}
input::placeholder {
	color: #555;
}
input[disabled] {
	background: rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 3px #0001;
}
@media (prefers-color-scheme: dark) {
	input::placeholder {
		color: #aaa;
	}
	select {
		filter: invert(1);
		color: #000;
	}
	input {
		background: #fff1;
	}
}
