/*クソダサ枠線を勝手に描画するブラウザを許すな*/

*:focus {
	outline: none !important;
}

body {
	background-color: #fefefe;
}
*{
	color: #444;
	font-family: sans-serif;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  display: grid;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 15px #0002;
  border-radius: 0px 0px 5px 5px;
  grid-template-columns: auto 1fr auto;
  background: #fffe;
	backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

header button {
  display: flex;
  align-items: center;
}
header button>i{
  font-size: 20px;
  margin: 0px 5px 0px 5px;
}
header h1 {
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}

select {
	background: url("https://cdn.jsdelivr.net/npm/remixicon@latest/icons/System/arrow-drop-down-line.svg") right no-repeat;
	background-size: 24px;
	padding: 5px;
	padding-right: 25px;
	border-bottom: solid 2px #0002;
	transition: all 300ms 0s ease-in;
	margin: 5px;
}
select:focus {
	border-bottom-color: #0004;
}
button {
	border-radius: 3px;
	transition: all 300ms 0s ease-out;
	padding:5px;
	margin:5px;
}

button:hover {
	background: #0001;
}

button:active {
	background: #0002;
}

input {
	border-bottom: solid 2px #0002;
	transition: all 300ms 0s ease-out;
	padding: 5px;
	margin: 5px;
}
input:focus {
	border-bottom: solid 2px #0004;
}
input::placeholder {
	color: #0009;
}
input[disabled] {
	opacity:0.5;
	box-shadow: 0;
}
@media (prefers-color-scheme: dark) {
	* {
		color: #fff;
	}
	body {
		background: #31323a;
	}
	input::placeholder {
		color: #aaa;
	}
	select {
		filter: invert(1);
		color: #000;
	}
	input {
		border-bottom: solid 2px #fff2;
	}
	input:focus{
		border-bottom: solid 2px #fff4;
	}
	button:hover {
		background: #fff1;
	}
	
	button:active {
		background: #fff2;
	}
}