* {
    font-family: sans-serif;
    color: #234;
    transition: all 200ms ease-in 0s;
    scrollbar-color: #0001 #fffa;
    scrollbar-width: thin;
}
*:hover{
    scrollbar-color: #0002 #fffa;
    scrollbar-width: thin;
}
*:active{
    scrollbar-color: #0004 #fffa;
    scrollbar-width: thin;
}

a{
    color: rgb(28, 110, 235);
    text-decoration: none;
}

#welcome{
    text-align: center;
    margin-top:10vw;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*クソダサ枠線を勝手に描画するブラウザを許すな*/

*:focus {
    outline: none!important;
}

p.hint {
    color: #777;
    text-align: center;
}

#video {
    display: block;
    margin: auto;
    width:100vw!important;
    height: calc(100% - 40px)!important;
    position: absolute;
    top:40px;
    left:0px;
    right:0px;
    border:none;
}

#close {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height:30px;
}

#close .icon22 {
    width: 30px;
    height:30px;
}

#dialog {
    width:100%;
    height:100%;
    margin: auto;
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    overflow:hidden;
}

#dialog.show {
    display: block;
    top:0;
    animation: show 600ms cubic-bezier(0,1,0,1) 0s;
}

#dialog.hide {
    display: block;
    top:0;
    animation: hide 300ms cubic-bezier(.61,.16,.68,1.03) 0s;
}

@keyframes show {
    from {
        opacity:0;
        left:0;
        height:50%;
    }
    to {
        top:0;
        opacity:1;
        height:100%;
        width:100%;
    }
}

@keyframes hide {
    from {
        height:100vh;
        width:100vw;
    }
    to {
        height: 0;
        width:0;
        opacity:0.5;
    }
}

/*Search User Interface*/

select#service {
    background: url("./icons/22/arrow-bottom.svg") right no-repeat;
    background-size: 20px;
    width: 8em;
    height: 45px;
    grid-column: 1;
    margin-right: 1em;
}

#searchUI {
    padding-left: 0.5em;
    position: fixed;
    top: 0;
    display: grid;
    align-items: center;
    width: 100%;
    box-shadow: 0px 4px 15px #0002;
    border-radius: 5px;
    grid-template-columns: 9.5em 1fr 0px 3.5em;
    background: #fffe;
    backdrop-filter: blur(4px);
}

input#Search {
    width: 100%;
    font-size: 20px;
    grid-column: 2;
    padding: 3px;
    justify-content: center;
}

input#Search[disabled] {
    color: #bbb;
}

img.icon22 {
    align-items: center;
    justify-content: center;
    MARGIN: auto;
    width: 22px;
    height: 22px;
}

img.icon32 {
    align-items: center;
    justify-content: center;
    MARGIN: auto;
    width: 32px;
    height: 32px;
}

a#clear {
    display: none;
    position: relative;
    left: -25px;
    width: 18px;
    grid-column: 3;
}

a#clear img {
    width: 18px;
    grid-column: 3;
}

button#Search {
    grid-column: 4;
    display: flex;
}

button#Configure {
    grid-column: 5;
    display: flex;
}

button {
    border-radius: 3px;
    max-width: 3.5em;
    padding: 10px;
}

button:hover {
    background: #eee;
    transition: all 300ms 0s ease-in;
}

button:active {
    background: #ddd;
    transition: all 100ms 0s ease-out;
}

/*resultBox*/

div#resultBox {
    margin-top: 60px;
}

div#resultBox div.result {
    display: grid;
    height: 20vh;
    min-height: 140px;
    grid-template-columns: calc(20vw + 15px) 1fr 3em;
    align-items: center;
    border-bottom-style: solid;
    border-color: #aaaaaa4b;
    border-width: 1.3px;
    grid-template-rows: 100%;
}

.result .thumb {
    border-radius: 5px;
    max-width: 30vw;
    object-fit: cover;
    margin-left: 15px;
    height: 100%;
    grid-column: 1;
    width: calc(100% - 30px);
}

.result p {
    margin: 10px;
    font-size: 12px;
    color: #555;
    word-wrap: break-word;
}

.result .result_info {
    right: 0px;
    margin: 15px;
    overflow: auto;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    grid-column: 2;
}

.result_imglink {
    height: calc(100% - 30px);
}

a.result {
    margin: 10px;
    font-size: 14px;
    margin-top: 15px;
}

.result_action {
    width: 5em;
    height: 5em;
}

.menubutton {
    grid-column: 3;
    display: flex;
    padding: 0px;
    height: 3em;
}

.menubutton.hidden {
    grid-column: 3;
    display: none;
    padding: 0px;
    height: 3em;
}

img.menuicon32 {
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
    pointer-events: none;
}

/*Misc*/

input {
    border-bottom-style: solid;
    border-bottom-color: #0002;
    border-bottom-width: 1.3px;
    transition: all 200ms 0s ease-out;
}

input:focus {
    border-bottom-color: #000a;
}

input.checkbox {
    display: none;
}

input.checkbox::before {
    background: url("/icons/dialog-cancel.svg");
}

footer{
    margin-top:auto;
    padding-top:1em;
    padding-bottom:4px;
    text-align: center;
    font-size: 14px;
}
footer div{
    margin-bottom:14px;
}

@media screen and (max-width: 480px) {
    #searchUI {
        flex-wrap: wrap;
        border-radius: 10px;
        grid-template-rows: 0.7fr 1fr;
        position: inherit;
    }
    input#Search {
        grid-row: 2;
        grid-column: 1/4;
    }
    button#Search {
        grid-row: 2;
    }
    select#service {
        grid-column: 1/5;
        width: calc(100% - 1em);
    }
    div#resultBox {
        margin-top: 150px;
    }
    a#clear {
        grid-row: 2;
    }
    a#clear img {
        grid-row: 2;
    }
    div#resultBox {
        margin-top: 10px;
    }
    div#resultBox div.result {
        grid-template-columns: calc(30vw + 15px) 1fr 2em;
    }
    .result .thumb {
        max-width: 100%;
    }
    .menubutton {
        width: 2em;
    }
}