* {
	scrollbar-width: thin;
	border-radius: 0;
}

a {
	color: #3082ff;
	text-decoration: none;
}

#welcome {
	text-align: center;
	margin-top: 15vh;
	margin: auto;
	grid-row: 3;
}
#welcome p {
	color: #777;
	margin: 8px;
}

#nothing_found{
	display:none;
	text-align: center;
	color: #0009;
	grid-row: 3;
	margin: auto;
}

body {
	grid-template-rows: 1fr auto;
	display: grid;
	min-height: 100vh;
}
main {
	display: grid;
	grid-row: 1;
	grid-template-rows: auto auto 1fr;
}

#video {
	display: block;
	margin: auto;
	width: 100vw !important;
	height: calc(100% - 40px) !important;
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	border: none;
}

#close {
	text-decoration: none;
	color: #fff;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	font-size: 25px;
}

#close .close_icon {
	font-size: px;
	color: #fff;
}

#dialog {
	width: 100%;
	height: 100%;
	margin: auto;
	position: fixed;
	z-index: 2;
	background: rgba(0, 0, 0, 0.9);
	display: none;
	overflow: hidden;
}

#dialog.show {
	display: block;
	top: 0;
	animation: show 600ms cubic-bezier(0, 1, 0, 1) 0s;
}

#dialog.hide {
	display: block;
	top: 0;
	animation: hide 600ms cubic-bezier(0, 1, 0, 1) 0s;
}

@keyframes show {
	from {
		opacity: 0;
		top:-50vh;
	}
	to {
		opacity: 1;
		top: 0;
	}
}

@keyframes hide {
	from {
		top: -50vh;
		opacity: 1;
	}
	to {
		top:-100vh;
		opacity: .5;
	}
}

/*Search User Interface*/
select#service {
	grid-column: 2;
}
.searchOptions {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}
.searchOptions div {
	margin-right: 10px;
	display: flex;
	align-items: center;
}

.button_icon {
	align-items: center;
	justify-content: center;
	margin: auto;
	font-size: 24px;
}

#searchUI {
	grid-template-columns: auto calc(8em + 20px) 1fr;
}

input#Search {
	font-size: 20px;
	height: 37px;
	padding: 6px 30px 6px 10px;
	width: 100%;
	grid-column:1;
}
form#SearchForm {
	grid-column: 3;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 0 50px;
}

.clear_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

a#clear {
	display: none;
	position: relative;
	left: -25px;
	width: 0px;
	color: #555;
	grid-column: 2;
}

button#Search {
	grid-column: 3;
}

#bookmark_menu {
	display: none;
	flex-direction: row-reverse;
}

main {
	margin-top: 60px;
}

/*resultBox*/
#resultBox {
	grid-row: 2;
}
div#resultBox div.result {
	display: grid;
	height: 20vh;
	min-height: 140px;
	grid-template-columns: calc(20vw + 15px) 1fr 3em;
	align-items: center;
	border-bottom-style: solid;
	border-color: #aaaaaa4b;
	border-width: 1.3px;
	grid-template-rows: 100%;
	max-width: 100vw;
}
.icon_bookmark-remove {
	color: #f23;
}

.result .thumb {
	border-radius: 5px;
	max-width: 30vw;
	object-fit: cover;
	margin: 15px;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
}

.result p {
	grid-row:2;
	margin-top: 10px;
	font-size: 12px;
	color: #555;
	word-break: break-word;
	overflow: auto;
	height: calc(100% - 10px);
}

.result .result_info {
	right: 0px;
	margin: 15px;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	grid-column: 2;
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: auto;
}

.result_imglink {
	height: 100%;
	grid-column: 1;
}

result_info > a{
	grid-row: 1;
}

.result_action {
	width: 5em;
	height: 5em;
}

.menubutton {
	grid-column: 3;
	display: flex;
	padding: 0px;
	height: 3em;
}

.menubutton.hidden {
	grid-column: 3;
	display: none;
	padding: 0px;
	height: 3em;
}

.menuicon {
	align-items: center;
	justify-content: center;
	padding: 4px;
	font-size: 24px;
	margin-top: auto;
	margin-bottom: auto;
	pointer-events: none;
}

/*Misc*/

footer {
	padding-top: 1em;
	padding-bottom: 4px;
	text-align: center;
	font-size: 14px;
	margin-top: auto;
	grid-row: 2;
}
footer div {
	margin-bottom: 14px;
	color: #000a;
}

footer div p{
	color: #000a;
}

@media screen and (max-width: 480px) {
	#searchUI {
		flex-wrap: wrap;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: auto 1fr;
		position: inherit;
		grid-row: 1;
	}

	main {
		grid-row: 2;
		margin-top: 0;
	}
	body {
		grid-template-rows: auto 1fr auto;
	}
	#welcome {
		grid-row: 3;
	}
	.searchOptions {
		flex-direction: column;
		margin-left: 10px;
		width: calc(100% - 20px);
		grid-row: 1;
	}
	.searchOptions div {
		display: grid;
		margin-right: 0;
		grid-template-columns: auto 1fr;
	}
	footer {
		grid-row: 3;
	}

	form#SearchForm {
		grid-column: 1/3;
		margin-left: 10px;
		grid-template-columns: 1fr 0px 50px;
	}
	#bookmark_menu {
		grid-column: 1/3;
	}
	#bookmark_menu button{
		padding: 10px;
	}
	#bookmark_menu button>p{
		display: none;
	}

	select#service {
		grid-column: 2;
		width: calc(100% - 1em);
	}
	div#resultBox {
		grid-row: 2;
	}
	div#resultBox div.result {
		grid-template-columns: calc(30vw + 15px) 1fr 2em;
	}
	.result .thumb {
		max-width: 100%;
	}
	.menubutton {
		width: 2em;
	}
}
@media (prefers-color-scheme: dark) {
	#searchUI {
		background-color: #3a3b43ee;
	}
	#nothing_found {
		color:#fff9;
	}
	.result p {
		color: #fff;
	}
	a {
		color: #52a4ff;
	}
	footer div {
		color: #fffa;
	}
	footer div p{
		color: #fffa;
	}
	#welcome p {
		color: #fff5;
	}
}
