body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}
header {
  z-index: 1;
  position: fixed;
  top: 0;
  display: grid;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 15px #0002;
  border-radius: 0px 0px 5px 5px;
  grid-template-columns: auto 1fr auto;
  background: #fffe;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

header button {
  display: flex;
  align-items: center;
}
header button>i{
  font-size: 20px;
  margin: 0px 5px 0px 5px;
}
header h1 {
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}
main h2 {
  font-weight: normal;
  font-size: 24px;
}
main {
  height: 100%;
  margin: 20px;
  margin-top:64px;
}
main > div {
  margin: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
main .text {
  grid-column: 1;
  margin-right: 5px;
}
main .option {
  grid-column: 2;
}
@media (prefers-color-scheme: dark) {
  header {
    background-color: #3a3b43ee;
  }
}
