body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main h2 {
  font-weight: normal;
  font-size: 24px;
}
main {
  height: 100%;
  margin: 20px;
  margin-top:64px;
}
main > div {
  margin: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
main .text {
  grid-column: 1;
  margin-right: 5px;
}
main .option {
  grid-column: 2;
}
@media (prefers-color-scheme: dark) {
  header {
    background-color: #3a3b43ee;
  }
}
